@font-face {
    font-family: 'Baloo 2 Regular';
    src: url("../resources/font/baloo-2-v1-latin_latin-ext-regular.eot") format("embedded-opentype");
    src: url("../resources/font/baloo-2-v1-latin_latin-ext-regular.ttf") format("truetype");
    src: url("../resources/font/baloo-2-v1-latin_latin-ext-regular.woff") format("woff");
    src: url("../resources/font/baloo-2-v1-latin_latin-ext-regular.woff2") format("woff2");
}

* {
    font-family: "Baloo 2 Regular", Verdana, sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #212121;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #212121;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #D4B195;
}

.box {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}

header {
    background-color: #212121;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header input[type=text] {
    color: dimgrey;
    border: none;
    border-bottom: 2px solid #D4B195;
    background-color: #303030;
    background-image: url("../resources/img/style_resources/icon_search.png");
    background-repeat: no-repeat;
    margin-left: 6px;
    padding-left: 40px;
    background-position: 10px 5px;
    height: 30px;
    font-size: 16px;
    width: 297px;
}

header input[type=submit] {
    width: 0;
    visibility: hidden;
    padding:0;
    margin: 0;
}

header #title {
    padding-left: 10px;
    width: 500px;
}

header #search {
    width: 350px;
}

nav {
    padding-top: 5px;
    width: 500px;
    text-align: right;
    padding-right: 10px;
}

a {
    color: #D4B195;
    text-decoration: none;
}
a:visited {
    color: #D4B195;
}

.content {
    margin-top: 50px;
}

#logo {
    height: 500px;
    margin-top: 50px;
    background-image: url("../resources/img/style_resources/rock-climbing.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


#login {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url("../resources/img/style_resources/background_login.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login input {
    width: 200px;
    border-radius: 4px;
    border-width: 0;
    background-color: #EEEEEE;
    color: #212121;
    height: 40px;
    filter: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

#login input[type=submit] {
    background-color: #212121;
    border: thin solid #D4B195;
    color: #D4B195;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}

.img_logo {
    margin: 0;
}

#search_button {
    background-image: url("../resources/img/style_resources/icon_search.png");
    background-repeat: no-repeat;
    background-position: 10px 7px;
    border-radius: 4px;
    border: thin solid #D4B195;
    padding: 5px 10px 5px 40px;
    margin-right: 20px;
    font-weight: bold;
}

#search_button a {
    color: dimgrey;
}

#login_button {
    border-radius: 4px;
    border: thin solid #D4B195;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    font-weight: bold;
}

#signin_button {
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #D4B195;
    border: thin solid #D4B195;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

#signin_button a {
    color: #212121;
}


#signin {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url("../resources/img/style_resources/background_signin.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#signin input {
    width: 300px;
    border-radius: 4px;
    border-width: 0;
    background-color: #EEEEEE;
    color: #212121;
    height: 40px;
    filter: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

#signin input:required {
    background-color: red;
}

#signin input[type=submit] {
    background-color: #212121;
    border: thin solid #D4B195;
    color: #D4B195;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}

h1.center {
    text-align: center;
}

article h1 {
    color: #D4B195;
    font-weight: bold;
}

article {
    background-color: #212121;
}

.liste {
    padding-left: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: auto;
}

.site_card {
    background-color: #212121;
    width: 500px;
    height: 300px;
    margin: 20px;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    border: thin solid #D4B195;
    position: relative;
    text-align: justify;
}

.site_card .details {
    z-index: 1;
    font-weight: bold;
    height: 30px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    background-image: linear-gradient(to bottom, rgba(33,33,33,0) 0%, rgba(33,33,33,1) 75%);
}

ul {
    list-style-type: none;
}

p {
    margin-top: 15px;
}

.search {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search form {
    color: #212121;
}

.search input